body { font-family:'Roboto', sans-serif; background:#F5F7FA; padding:10px; }
header { font-size:18px; font-weight:bold; margin-bottom:10px; }
.card { display:inline-block; width:120px; padding:10px; margin:5px; border-radius:10px; color:white; text-align:center; }
.card.blue {background:#0066CC;}
.card.green {background:#009688;}
.card.yellow {background:#FFC107;color:black;}
.card.red {background:#E53935;}
.title {font-size:12px; opacity:0.8;}
.number {font-size:20px;font-weight:bold;margin-top:5px;}
table {width:100%;border-collapse:collapse;margin-top:10px;font-size:12px;}
th,td{border:1px solid #ccc;padding:3px;text-align:left;}
th{background:#eee;}
select{width:100%;margin-bottom:5px;}
#map{width:100%;height:300px;margin-top:10px;border:1px solid #ccc;}
.chart-container{
  width:250px;
  height:150px;
  margin-top:10px;
}
canvas{
  width:100% !important;
  height:100% !important;
}
